# Atualizando dados em uma planilha no Excel

##### # Importando módulos

In [2]:
import openpyxl
import pandas as pd

##### # Conectando ao Excel

In [4]:
planilha = openpyxl.load_workbook('dados/Clientes.xlsx')
dados = planilha['Planilha1']

#### # Vizualizando a planilha

In [3]:
planilha_excel = pd.read_excel('dados/Clientes.xlsx')
planilha_excel.head()

           Clientes Obra   UF        Status Cobrança  Valor potencial
0  Fernando Augusto  ABC  MG   Cobrança Terceirizada             10000

#### # Definindo uma função para adicionar dados à planilha

In [6]:
def adicionar_dado(clientes, obra, uf, status, valor):
    linha = 1
    while dados.cell(row=linha, column=1).value is not None:
        linha += 1
    dados.cell(row=linha, column=1).value = clientes
    dados.cell(row=linha, column=2).value = obra
    dados.cell(row=linha, column=3).value = uf
    dados.cell(row=linha, column=4).value = status
    dados.cell(row=linha, column=5).value = valor
    return dados

#### # Adicionando dados à planilha

In [7]:
adicionar_dado('Couto', 'AXY', 'SP', 'Cobrança Terceirizada', 30000)

#### # Salvando e fechando planilha alterada

In [8]:
planilha.save('dados/Clientes.xlsx')

#### # Vendo alteração feita

In [9]:
planilha_excel = pd.read_excel('dados/Clientes.xlsx')
planilha_excel.head()

           Clientes Obra   UF        Status Cobrança  Valor potencial
0  Fernando Augusto  ABC  MG   Cobrança Terceirizada             10000
1             Couto  AXY   SP  Cobrança Terceirizada             30000